<section class="contact-form">
    <h2 class="contact-form__tittle">
        Diligencia los capos y contactanos
    </h2>

    <form class="contact-form__form">
        <div class="contact-form__row">

        <label for="" class="contact-form__label">
            Nombre
        <input type="text" class="contact-form__input" placeholder="Ingrese su nombre" required>
        </label>

        <label for="" class="contact-form__label">
        Telefono
        <input type="text" class="contact-form__input" placeholder="Ingrese su telefono" required>
        </label>

        <label for="" class="contact-form__label">
        Correo electronico
        <input type="text" class="contact-form__input" placeholder="Ingrese su correo electronico" required>
        </label>

        <label for="" class="contact-form__label">
        mensaje
         </textarea name="" id="" class="contact-form__text-area"
         placeholder="Ingresa tu mensaje aquí..." required>
         </textarea>
        </label>
        
        <div class="container-form__actions">
         <button type="submit" class="contact-form__button" >cancelar</button>
         <button type="button" class="contact-form__button
         contact-form__button--red" >Enviar</button>
         </div>
    </form>
</section>